
body {
    background-color:  rgb(255, 255, 204);
    font-family: Arial, sans-serif;
}

h1 {
    border-top: 5px solid black;
    padding-top: 10px;
    text-align: center; 
    background-color: rgb(221, 221, 255);
    border-bottom: 5px solid black; 
}

ul {
    list-style: none; 
    margin: 0;
    display: flex; 
    justify-content: center; 
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
}

li {
    margin: 0 10px; 
    position: relative; 
    padding-left: 15px; 
}

p {
  
   /* es obligatorio rellenar todo?????*/
}

#header {
  margin-bottom: 20px;
}

#content{
    width: 90%;
    margin: 0 auto 20px auto;
}

#text {
      clear: both; /* no se si se hace asi, o de otra manera pero no lo recuerdo.*/
}

#text p {
    
    text-indent: 40px;
    width: 90%;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
    border: 2px dashed black;
    background-color: rgb(238, 238, 238);

}

#text p:first-child {
    border-radius: 30px 30px 0 0;
    background-image: url("../images/fondoParrafo.png");
    background-repeat: repeat;
   
}

#text p:last-child {
    border-radius: 0 0 30px 30px;
}

#menu {
    text-align: center;
}

#menu a{
    text-decoration: none;
    color: black;
}


#menu li{
   display: inline;
    margin: 0 10px;
    border-left: 5px solid red;
    padding-left: 10px;
}

#menu li a:hover{
    text-decoration: underline;
    color: red;
}

#footer{
    border-top: 5px solid black;
    padding-top: 10px;
    text-align: center;
    margin-top: 20px;
}

#footer a{
    text-decoration: none;
    color: black;
}

#footer a:hover{
    text-decoration: underline;
    color: red;
}
#image img{
    float: right;
    margin-right: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 5px solid black;
    max-width: 500px;
}

@media all and (max-width: 500px) {

    #image img {
        float: none;  
        display: block;   
        margin: 0 auto;       
        width: 90%;                     
        border: 2px solid red;
}
}