body {
    background-image: url("../images/fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    overflow: hidden;
     
}

h1 {
    background-color: rgb(206, 59, 59);
    color: turquoise;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color:rgb(156, 149, 18);

}

img {
    border: 10px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    height: 400px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    border: 2px solid rgb(156, 149, 18);
}

a {
    color: white;
    }